.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading{
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff;
    padding-bottom: 20px;
}
.button1{
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
